@media  screen and (max-width:1000px) {
    nav{
        flex-direction: column;
    }
    nav ul{
        justify-content: center;
    }
    .search{
        justify-content: center;
        margin: 12px 16px;
    }
    .slider{
        height: 25vh;
    }
    .cards{
        flex-wrap: wrap;
    }
    .card-item img{
        width: 140px;
    }
}
